html, body {
  width: 100%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}



body {
    font-family: 'Lato', sans-serif;
    text-align: center;
    background-color: white;
    box-sizing: border-box;
  }
  
  h1 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 0;
    font-family: 'Ramabhadra', sans-serif;
  }
  
  
  h2 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Ramabhadra', sans-serif;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  
  h3 {
    color: #106f43;
    font-size: 1.25rem;
  }

  h4 {
    color: #106f43;
    font-size: 1.2rem;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* containters */
  .container-fluid {
    padding: 3% 7%;
  }

  .container-fluid-gallery {
    padding: 3% 5%;
  }
  
  
  /* NAVBAR  */
  .navbar {
    padding: 0;
    display: flex;
  }

  .nav-title {
display: none;
  }
  
  .nav-item {
    padding: 8px 18px;
    white-space: nowrap;
    color: black;
  }

  .nav-item a:hover {
    text-decoration: underline;
  }
  
  .nav-link {
    font-size: 1.2rem;
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color:#106f43;
    font-size: inherit;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    color:#049634;
  }
  
  .mail-image {
    text-align: right;
    width: 70%;
  }
  
  .gallery-mail-image {
    text-align: right;
    width: 45%;
  }
  
  .navbar-icon-1 {
    color:#106f43;
    font-size: 1.5rem;
    padding-right: 25px;
  }


  .navbar-icon-tel {
    color: #106f43;
    font-size: 1.5rem;
    padding-right: 25px;
  }

  .navbar-icon-tel:hover {
    color: #049634;
    text-decoration: none;
  }

  .navbar-icon-tel1 {
    display: none;
    color: BLACK;
    font-size: 1.5rem;
    padding-right: 25px;
  }

  .navbar-icon-tel1:hover {
    color: BLACK;
    text-decoration: none;
  }

  .navbar-icon-1:hover {
color: #049634;
  }
  
  .navbar-icon-2 {
    /* color: white; */
    font-size: 1.5rem;
  }

  .navbar-icon-3 {
    color: white;
    font-size: 1.2rem;
    padding-right: 10px;
    vertical-align: text-bottom;
  }
  
  /* .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  } */

  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(40, 119, 60)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  
  .navbar-dark .navbar-toggler {
    border-color: #106f43;
    margin: 10px;
  }
  
  .banner {

    position: fixed;
    background: white;
    width: 100%;
    z-index: 1;
    border-bottom: #106f43 3px solid;
  }

  .navbar-logo {
    width: 10%;
  }
  
  
  /* TOP SECTION */
  .top-section {
    background-image: url("../assets/greenheathbanner.png");
    background-size: 2000px;
    height: 630px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ll-logo {
    width: 25%;
  }

  .title {
    padding-bottom: 90px;
  }

  .title h3 {
    margin-top: 40px;
  }

  .green {
    color: #1A7F0C;
  }

  .black {
    margin-top: 60px;
    color: #106f43;
  }

  .thank-you-div {
    margin: 20px auto;
    width: 50%;
    border-radius: 15px;
    border: 1px solid white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
  }

  .title .thank-you {
    margin: 0;
    color: black;
    margin-top: 0;
  }
  
.main-buttons-div {
  display: flex;
  justify-content: center;
}

.main-buttons {
  background-color:white;
  color: BLACK;
  padding: 12px 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid white;
  margin: 20px;
  width: 20%;
  font-size: 1.1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
}

.main-buttons:hover {
  background-color:white;
  color: BLACK;
  border: 1px solid BLACK;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.main-buttons i {
  transition: all 0.2s ease-in-out;
  color: BLACK;
}

.main-buttons:hover i{
color: BLACK;
}

.main-buttons a {
  text-decoration: none;
}

.main-buttons a:hover {
  text-decoration: none;
}


.main-buttons:active {
  background-color: BLACK;
  color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}
  
  
  
  
  /* SERVICES SECTION */

  
.services-copy {
    width: 50%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services-copy-center {
  width: 50%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}



.services-copy p {
  text-align: justify;
}

.blurb {
  margin: 0 auto 50px;
  width: 92%;
  text-align: justify;
}

.lukes-services h3{
color:#106f43;
}

.lukes-services {
  display: flex;
  }

.lukes-services-rev {
  display: flex;
  flex-direction: row-reverse;
  }

  .lukes-services-rev h3{
    color:#106f43;
    }

.services-image {
  width: 100%;
  padding: 25px;
  border-radius: 50px;
}

.image-div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  /* ABOUT */
  .about {
    background-image: url("../assets/greenheathbanner.png");
    background-size: cover;
  }
  
  .about-card {
    max-width: 1200px;
    margin: 40px auto;
    border-radius: 15px;
    border-radius: 15px;
  }
  
  .card-body-main {
    flex: 1 1 auto;
    padding: 1rem;
  }
  .about-pic {
    display: flex;
    align-items: center;
  }

  .about-image-holder {
    width: 80%;
    margin: 25px auto 0;
  }
  
  .about-copy {
    align-items: center;
    display: flex;
    width: 80%;
    margin: auto;
  }
  
  .about-img {  
    width: 30%;
  }
  
  .card-title {
    color: BLACK;
    margin-bottom: 2rem;
  }
  
  .card-text {
    text-align: justify;
  }
  
  
  /* TESTIMONIALS */

  .testimonial-container {
    position: relative;
    width: 80%;
    margin: 50px auto;
    min-height: 150px;
    padding-top: 20px;
  }
  
  .testimonial-inner {
    position: relative;
    width: 70%;
    margin: auto;
    height: 100%;
  }
  .testimonial {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    transition: opacity 0.5s ease;
  }

  .testimonial p {
margin-top: 18px;
  }

  .testimonial.active {
    display: block;
  }
  .arrows {
    transform: translateY(70%);
    width: 100%;
    text-align: center;
    position: relative;
    top: 220px;
  }
  .arrow {
    color: #106f43;
    font-size: 3rem;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
  }

  .arrow:active {
    background-color: white;
  }





  .arrow.left {
    float: left;
    left: 10%;
  }
  .arrow.right {
    float: right;
    right: 10%;
  }

  
  .clients1 {
    height: fit-content;
  }

  .clients2 {
    height: fit-content;
  }


  .client-photo {
    height: 35%;
    width: 35%;
    aspect-ratio: 3/2;
    object-fit: contain;
    margin: 0 50px;
  }
  
  .dark-title {
    color: #106f43;
  }
  
  
  /* CONTACT/BOOKING SECTION */


.quote-form{
  display: flex;
  justify-content: space-around;
}

.quote-text {
  background-color: white;
  width: 95%;
  margin: auto;
  border-radius: 15px;
  padding: 10px;
}

.quote-text p {
  color: BLACK;
}

.quote-text label {
  color: BLACK;
}


.form2 {
  width: 50%;
}

.form2 table{
  width: 100%;
  height: 100%;
}

.quote-table {
  width: 50%;
}

.input1 {
  height: 90%;
  Width: 90%;
  border-radius: 15px;
  border: 1px solid BLACK;
  padding: 10px;
  margin: 10px;
}

.attach-button {
  background-color:BLACK;
  color: white;
  padding: 12px 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin: 20px;
  width: 20%;
  font-size: 1.1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.file-input {
  margin: auto;
  padding-left: 10%;
  color: BLACK;
  margin-bottom: 25px;
}

.lukes-button {
  background-color:BLACK;
  color: white;
  padding: 12px 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid white;
  margin: 20px;
  width: 60%;
  font-size: 1.1rem;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
}

.lukes-button:hover {
  background-color:white;
  color: BLACK;
  border: 1px solid BLACK;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.lukes-button:active {
  background-color: BLACK;
  color: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transform: translateY(2px);
}



  
  .contact-section {
    background-image: url("../assets/greenheathbanner.png");
    background-size: cover;
    color: white;
  }
  
  .bold-p{
  font-size: 1.2rem;
  font-weight: 600;
  margin: auto;
  }
  
  .service-list {
    text-align: justify;
  }
  
  
  
  .contact-content {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: 400px;
    margin-right: 25px;
    margin-bottom:25px;
  }
  
  .hover-text {
    margin-left: 5px;
  }
  
  .hover-text:hover {
    text-decoration: underline;
    color: BLACK;
  }
  
  .map {
    width: 360px;
    height: 390px;
    position: relative;
    margin: 0 0 25px 25px;
    display: inline-block;
  }
  
  .underline-link {
    text-decoration: underline;
  }
  
  .underline-link:hover {
    color: inherit;
  }
  
  /* Footer */

  .footer {
    display: flow-root;
    width: 100%;
  }
  
  .footer-icon {
    color: #106f43;
    font-size: 2rem;
    margin: 25px 25px 10px 25px;
  }

  .footer-icon:hover {
    color: #049634;
  }
  
  .website-design {
    font-size: .8rem;
  }

  .footer-note {
margin-top: 20px;
  }

  .footer-info p {
    color: BLACK;
  }
  
  /* GALLERY PAGE */
  
  .gallery {
    column-count: 4;
  }

  .beforeandafter {
    display: flex;
    justify-content: space-around;
  }

  .beforeandafter h3 {
    color: BLACK
  }
  
  .image-container {
    position: relative;
    margin-bottom: 20px;
/* 
    float: left;
    width: 40%;
    position: relative;
    overflow: hidden;
    margin: 0 5% 50px;
    border-radius: 15px;
    max-height: 600px; */
  }
  
  .gallery-img {
    width: 100% !important;
    height: auto !important;
    cursor: pointer;
    border: 3px solid white;
  }

  /* .gallery-img:hover {
  transition: transform 1s ease;
  transform: scale(1.2);
  } */
  
  #lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
  }
  
  #lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #lightbox .main-image {
    position: absolute;
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: white;
    border: 2px solid white;
  }
  
  #lightbox .close-image {
    position: absolute;
    right:2%;
    top: 2%;
    max-width: 50px;
    margin: 10px;
  }
  
  #lightbox .close-image:hover {
  cursor: pointer;
  }
  
  
  
  .close {
    display:none;
    height: 40px;
  }

  .enquiry-height {
    min-height: 100%;
  }
  
  
  /* WIDE MONITORS */
  @media (min-width:1400px) {
  
    /* Navbar  */
  
  
  /* Gallery Page */
    .gallery-mail-image {
      text-align: right;
      width: 50%;
    }
  
    .gallery {
      column-count: 2;
    }
  
  }

  
  @media (max-width: 1050px) {
    .navbar-icon-tel{
      display: none;
    }

    .navbar-icon-tel1 {
      display: contents;
    }
  }
  
  /*  TABLET */
  @media (max-width: 991px) {

    .about-img {
      width: 40%;
    }

    .ll-logo {
      width: 25%;
      margin-top: 0;
    }

    .nav-title{
      display: block;
      position: absolute;
      left: 20px;
      top: 11px;
      color: #106f43;
      font-size: 1.5rem;
      height: 40px;
    }

    .navbar-icon-1 {
      padding-right: 50px;
      padding-bottom: 25px;
  }

  .main-buttons {
    width: 30%;
  }

  .banner {
    position: relative;
  }

  .navbar-phone {
    padding-left: 50px;
  }

    .navbar>.container-fluid {
      display: flex;
      flex-wrap: inherit;
      align-items: center;
      justify-content: end;
    }
  
    .mail-image {
      text-align: center;
      width: inherit;
      margin-top: 10px;
    }
  
  
    /* ABOUT SECTION */
    .bio {
      display: block;
    }
  
    .bio-pic {
      width: 25%;
    }
  
    .map {
      width: 300px;
      height: 300px;
      position: relative;
      margin-left: 0;
    }
  
    /* TESTIMONIALS SECTION */

    .clients1 {
      text-align: center;
    }

    .clients2 {
      text-align: center;
    }



    
    .client-photo {
      margin-bottom: 0;
      aspect-ratio: 3/2;
      object-fit: contain;
    }


    .arrows {
      top: 220px;
    }

    .testimonial-container {
      width: 70%;
      margin: 50px auto;
    }
  
  
    /* CONTACT SECTION */
    .contact-content {
      margin: 0 50px 0 50px;
      text-align: center;
      width: auto;
    }
  
    .map {
      margin-top: 25px;
      margin-right: 0;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-subtitle {
      text-align: center;
      padding: 0 50px;
    }
  
    .price-list {
      width:25%;
      text-align: left;
      padding-left: 50px;
    }
  
    .price-list2 {
      width:25%;
      text-align: left;
      padding-left: 30px;
    }
  
    .service-list {
      width:50%;
      text-align: right;
    }
  
  /* Gallery Page */
  
    .gallery-mail-image {
      text-align: center;
      width: inherit;
      margin-top: 10px;
    }
  
    .gallery {
      column-count: 2;
    }
  
  }
  
  
  
  @media (max-width: 767px) {
    .about-img {
      width: 70%;
    }


    .top-section {
      height: 720px;
    }
  
    .about-card {
      max-width: 540px;
      margin: 40px 10%;
    }

    .main-buttons {
      width: 35%;
    }

    .ll-logo {
      margin-bottom: 25px;
      margin-top: 0;
    }

.lukes-services {
  flex-direction: column;
}

.lukes-services-rev {
  flex-direction: column;
}

.image-div {
  width: 80%;
  margin: auto;
}

.services-copy {
  width: 80%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.services-copy-center {
  width: 100%;
}

.arrows {
  top: 220px;
}

.quote-form {
  flex-direction: column;
}

.quote-table {
  width: 100%;
}

.quote-text {
  width: 90%;;
}

.form2 {
  width: 100%;
  height: 300px;
}
  
  }
  
  
  
  /* MOBILE */
  @media (max-width: 576px) {

    .navbar-icon-1 {
      padding-right: 30px;
      padding-bottom: 25px;
  }

    .nav-title{
      font-size: 1.2rem;
    }

    .ll-logo {
      width: 50%;
      margin-top: 0;
    }

    .title {
        padding-bottom: 200px;
    }

    .title {
        padding-bottom: 200px;
    }

    .main-buttons {
      width: 70%;
    }

    .gallery-title {
      font-size: 3.5rem;
    }
  
    .mobile-title {
      font-size: 2.5rem;
    }
  
    .main-buttons-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .title h3 {
      width: 80%;
      margin: auto;
    }

    .image-div {
      width: 90%;
    }

    .services-copy {
      width: 90%;
    }

    .services-copy-center{
      width: 100%;
    }
  
    .about-card {
      max-width: 540px;
      margin: 20px 0;
    }

    .about-image-holder {
      width: 95%;
      margin: 20px auto 0;
    }
  
    .contact-info {
      height: auto;
      text-align: center;
    }
  
    .contact-subtitle {
      text-align: center;
    }
  
    .contact-content {
      margin: 0;
    }

    .testimonial p {
    margin: 18px 10px 18px 10px;
    }
  
    .map {
      width: 300px;
      height: 300px;
      position: relative;
      overflow: hidden;
      margin-left: 0;
    }

    .arrow.left {
      left:5%;
    }

    .arrow.right {
      right: 5%;
    }

    .testimonial-container {
      min-height: 250px;
    }
  
  
  /* Gallery Page */
  
    .gallery {
      column-count: 2;
    }
  
  
  }

  @media (max-width: 400px) {
.navbar-icon-1 {
  font-size: 1.3rem;
}
  }
  
  /* Fix for firefox (Price list) */
  @-moz-document url-prefix() {
      .service-list {
        width: 40%;
      }
  }
  